footer{
    background-color: rgb(26, 66, 151);
    padding-bottom: 2rem;
    
}


.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
   
}

.footer_contacts-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}
.footer_contacts-title h5{
    align-items: start;
    color: white;
    font-weight: 700px;
    font-size: 32px;
}
.footer_contacts-items{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: white;
}
.footer_contacts-items p a{
    text-decoration: none;
    color: rgb(0, 217, 255);
    border: 1px solid #33333300;
}
.footer_nav-title h5{
    align-items: start;
    color: white;
    font-weight: 700px;
    font-size: 32px;
}
.footer_nav-items nav ul li a{
    text-decoration: none;
    font-weight: 700;
    color: rgb(40, 160, 190);
    display: flex;
    padding: 1rem 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;

}
.footer_nav-items nav ul li a:hover{
    color: rgb(201, 199, 199);
    background: rgba(43, 53, 160, 0.1);
    transform: translateY(-2px);
}
.footer_nav-items nav ul{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer_nav-items nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}