.button_projects{
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap: 40px;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
}


.button_projects button{

    border: none;
    cursor: pointer;
    background-color: rgb(126, 95, 238);
    width: 100%;
    min-width: 300px;
    border-radius: 200px;
    height: 100%;
    min-height: 100px;
    font-size: 32px;
    color: white;
    transition: all 0.3s ease;
    box-shadow:2px 2px 7px #333;
}
.button_projects button:hover{
    transform: translateY(-3px);
    box-shadow: 2px 5px 20px #333;
    background-color: rgb(110, 83, 209);
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.title_project {
    color: rgb(47, 53, 114);
    font-size: 64px;
}
.title_project--title{
    color: rgb(60, 67, 141);
    margin-top: 0;
    font-size: 32px;
}
